# Test Report

## Result Compare

### Times: 100, Number: 10

| Computer Status & <br> Time Complexity |  電腦**未暖身** <br> O(n) -> O(1)  |  電腦**未暖身** <br> O(1) -> O(n)  |  電腦**已暖身** <br> O(n) -> O(1)  |
| :------------------------------------- | :--------------------------------: | :--------------------------------: | :--------------------------------: |
| `Node.JS`                              | ![alt text](./images/image-4.png)  | ![alt text](./images/image-5.png)  | ![alt text](./images/image-3.png)  |
| `C program`                            | ![alt text](./images/image-22.png) | ![alt text](./images/image-21.png) | ![alt text](./images/image-23.png) |
| `Python`                               | ![alt text](./images/image-7.png)  | ![alt text](./images/image-8.png)  | ![alt text](./images/image-9.png)  |

### Times: 100,000, Number: 10,000

| Computer Status & <br> Time Complexity |  電腦**未暖身** <br> O(n) -> O(1)  |  電腦**未暖身** <br> O(1) -> O(n)  |  電腦**已暖身** <br> O(n) -> O(1)  |
| :------------------------------------- | :--------------------------------: | :--------------------------------: | :--------------------------------: |
| `Node.JS`                              |  ![alt text](./images/image.png)   | ![alt text](./images/image-1.png)  | ![alt text](./images/image-2.png)  |
| `C program`                            | ![alt text](./images/image-19.png) | ![alt text](./images/image-20.png) | ![alt text](./images/image-18.png) |
| `Python`                               | ![alt text](./images/image-10.png) | ![alt text](./images/image-11.png) | ![alt text](./images/image-12.png) |
